body{
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(./night.jpg);
}
#weather-container{
    text-align: center;
    margin-top: 150px;
    border: 6px solid rgb(255, 255, 255);
    width: 400px;
    margin-left: 550px;
    height: 300px;
    border-radius: 16px;
    box-shadow: 0 25px 25px black;
    background-color: rgba(240, 248, 255, 0.141);
}
h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 0 5px 5px rgba(225, 243, 22, 0.648);
}
input{
    height: 40px;
    width: 270px;
    border: 3px black;
    border-radius: 15px;
    background-color: rgba(240, 248, 255, 0.466);
    color: rgb(255, 255, 255);
    font-size: large;
}
input::placeholder{
    color: white;
    font-size: 20px;
}
button{
    background-color: wheat;
    height: 40px;
    border-radius: 15px;
    border: 2px black solid;
    width: 100px;
}
#weather-result{
    color: whitesmoke;
    font-size: 25px;
    margin-top: 40px;
    font-weight: 900;
}